.env
scrapbook.py
__pycache__/dictionary.cpython-310.pyc
__pycache__/randomanswer.cpython-310.pyc
__pycache__/wordle.cpython-310.pyc
command.py
new_dict.txt
dict_decode.py
__pycache__/wordle_db.cpython-310.pyc
__pycache__/capital_game.cpython-310.pyc
